MINIO_VOLUMES="{{ minio_home_path }}"
MINIO_OPTS="-C /etc/minio.conf --address 0.0.0.0:{{ minio_api_port }} --console-address 0.0.0.0:{{ minio_console_port }}"
MINIO_ROOT_USER="{{ minio_root_user }}"
MINIO_ROOT_PASSWORD="{{ minio_root_password }}"
